mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .container
      .header__wrapper
        if(currentUrl === "index.html")
          span.header__logo
            +img("logotype", "logo", "svg", 144, 70, "Логотип сайта Хочу в баню.")
        else
          a.header__logo(href="index.html", aria-label="Переход на главную страницу сайта.")
            +img("logotype", "logo", "svg", 144, 70, "Логотип сайта Хочу в баню.")
        .header__location
          +icon("pin", 15, 19)
          span Новосибирск
        .main-nav
          a.main-nav__link.btn(href="#", aria-label="Переход на страницу поиска бани") Поиск бани
          a.main-nav__link.btn(href="#", aria-label="Переход на страницу размещения бани") Разместить баню
        button.header__favorite.btn(target=_self, rel=rel, type=button)
            +icon("favorite", 25, 24)
        button.header__user.btn(target=_self, rel=rel, type=button)
            +icon("user", 25, 25)
            +icon("burger", 22, 18)
